<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle=""
	backgroundColor="rgba(255,255,255,0)"
	textColor="rgba(255,255,255,0)"
	thumbFrameColor="rgba(255,255,255,.3)"

>
  <image imageURL="images/Hochzeit Theresa-Davide (297).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (297).jpg"
	linkURL="images/Hochzeit Theresa-Davide (297).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (297).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (297)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (302).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (302).jpg"
	linkURL="images/Hochzeit Theresa-Davide (302).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (302).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (302)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (305).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (305).jpg"
	linkURL="images/Hochzeit Theresa-Davide (305).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (305).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (305)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (312).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (312).jpg"
	linkURL="images/Hochzeit Theresa-Davide (312).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (312).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (312)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (313).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (313).jpg"
	linkURL="images/Hochzeit Theresa-Davide (313).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (313).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (313)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (315).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (315).jpg"
	linkURL="images/Hochzeit Theresa-Davide (315).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (315).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (315)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (316).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (316).jpg"
	linkURL="images/Hochzeit Theresa-Davide (316).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (316).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (316)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (322).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (322).jpg"
	linkURL="images/Hochzeit Theresa-Davide (322).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (322).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (322)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (324).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (324).jpg"
	linkURL="images/Hochzeit Theresa-Davide (324).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (324).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (324)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (326).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (326).jpg"
	linkURL="images/Hochzeit Theresa-Davide (326).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (326).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (326)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (327).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (327).jpg"
	linkURL="images/Hochzeit Theresa-Davide (327).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (327).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (327)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (328).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (328).jpg"
	linkURL="images/Hochzeit Theresa-Davide (328).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (328).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (328)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (332).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (332).jpg"
	linkURL="images/Hochzeit Theresa-Davide (332).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (332).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (332)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (333).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (333).jpg"
	linkURL="images/Hochzeit Theresa-Davide (333).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (333).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (333)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (334).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (334).jpg"
	linkURL="images/Hochzeit Theresa-Davide (334).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (334).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (334)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (336).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (336).jpg"
	linkURL="images/Hochzeit Theresa-Davide (336).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (336).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (336)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (339).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (339).jpg"
	linkURL="images/Hochzeit Theresa-Davide (339).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (339).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (339)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (345).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (345).jpg"
	linkURL="images/Hochzeit Theresa-Davide (345).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (345).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (345)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (349).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (349).jpg"
	linkURL="images/Hochzeit Theresa-Davide (349).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (349).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (349)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (350).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (350).jpg"
	linkURL="images/Hochzeit Theresa-Davide (350).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (350).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (350)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (351).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (351).jpg"
	linkURL="images/Hochzeit Theresa-Davide (351).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (351).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (351)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (352).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (352).jpg"
	linkURL="images/Hochzeit Theresa-Davide (352).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (352).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (352)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (354).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (354).jpg"
	linkURL="images/Hochzeit Theresa-Davide (354).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (354).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (354)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (356).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (356).jpg"
	linkURL="images/Hochzeit Theresa-Davide (356).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (356).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (356)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (357).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (357).jpg"
	linkURL="images/Hochzeit Theresa-Davide (357).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (357).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (357)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (358).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (358).jpg"
	linkURL="images/Hochzeit Theresa-Davide (358).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (358).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (358)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (359).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (359).jpg"
	linkURL="images/Hochzeit Theresa-Davide (359).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (359).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (359)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (370).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (370).jpg"
	linkURL="images/Hochzeit Theresa-Davide (370).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (370).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (370)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (372).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (372).jpg"
	linkURL="images/Hochzeit Theresa-Davide (372).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (372).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (372)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (374).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (374).jpg"
	linkURL="images/Hochzeit Theresa-Davide (374).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (374).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (374)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (375).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (375).jpg"
	linkURL="images/Hochzeit Theresa-Davide (375).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (375).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (375)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (383).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (383).jpg"
	linkURL="images/Hochzeit Theresa-Davide (383).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (383).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (383)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (400).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (400).jpg"
	linkURL="images/Hochzeit Theresa-Davide (400).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (400).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (400)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (401).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (401).jpg"
	linkURL="images/Hochzeit Theresa-Davide (401).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (401).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (401)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (409).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (409).jpg"
	linkURL="images/Hochzeit Theresa-Davide (409).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (409).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (409)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (410).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (410).jpg"
	linkURL="images/Hochzeit Theresa-Davide (410).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (410).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (410)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (411).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (411).jpg"
	linkURL="images/Hochzeit Theresa-Davide (411).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (411).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (411)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (415).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (415).jpg"
	linkURL="images/Hochzeit Theresa-Davide (415).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (415).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (415)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>