<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Reception"
	backgroundColor="rgba(255,255,255,0)"
	thumbFrameColor="rgba(255,255,255,.3)"

>
  <image imageURL="images/Hochzeit Theresa-Davide (210).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (210).jpg"
	linkURL="images/Hochzeit Theresa-Davide (210).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (210).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (210)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (232).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (232).jpg"
	linkURL="images/Hochzeit Theresa-Davide (232).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (232).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (232)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (236).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (236).jpg"
	linkURL="images/Hochzeit Theresa-Davide (236).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (236).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (236)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (241).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (241).jpg"
	linkURL="images/Hochzeit Theresa-Davide (241).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (241).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (241)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (244).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (244).jpg"
	linkURL="images/Hochzeit Theresa-Davide (244).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (244).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (244)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (251).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (251).jpg"
	linkURL="images/Hochzeit Theresa-Davide (251).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (251).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (251)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (261).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (261).jpg"
	linkURL="images/Hochzeit Theresa-Davide (261).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (261).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (261)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (265).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (265).jpg"
	linkURL="images/Hochzeit Theresa-Davide (265).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (265).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (265)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (266).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (266).jpg"
	linkURL="images/Hochzeit Theresa-Davide (266).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (266).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (266)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (267).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (267).jpg"
	linkURL="images/Hochzeit Theresa-Davide (267).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (267).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (267)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (271).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (271).jpg"
	linkURL="images/Hochzeit Theresa-Davide (271).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (271).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (271)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (275).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (275).jpg"
	linkURL="images/Hochzeit Theresa-Davide (275).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (275).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (275)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (279).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (279).jpg"
	linkURL="images/Hochzeit Theresa-Davide (279).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (279).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (279)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (284).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (284).jpg"
	linkURL="images/Hochzeit Theresa-Davide (284).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (284).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (284)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (286).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (286).jpg"
	linkURL="images/Hochzeit Theresa-Davide (286).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (286).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (286)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (292).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (292).jpg"
	linkURL="images/Hochzeit Theresa-Davide (292).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (292).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (292)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (223).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (223).jpg"
	linkURL="images/Hochzeit Theresa-Davide (223).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Toury/Hochzeit Theresa-Davide (223).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (223)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (229).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (229).jpg"
	linkURL="images/Hochzeit Theresa-Davide (229).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Toury/Hochzeit Theresa-Davide (229).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (229)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (243).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (243).jpg"
	linkURL="images/Hochzeit Theresa-Davide (243).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Toury/Hochzeit Theresa-Davide (243).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (243)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (256).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (256).jpg"
	linkURL="images/Hochzeit Theresa-Davide (256).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Toury/Hochzeit Theresa-Davide (256).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (256)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (257).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (257).jpg"
	linkURL="images/Hochzeit Theresa-Davide (257).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Toury/Hochzeit Theresa-Davide (257).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (257)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (281).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (281).jpg"
	linkURL="images/Hochzeit Theresa-Davide (281).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Toury/Hochzeit Theresa-Davide (281).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (281)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>