<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Ceremony"
	backgroundColor="rgba(255,255,255,1)"
	textColor="rgba(255,255,255,0)"
	thumbFrameColor="rgba(255,255,255,.3)"

>
  <image imageURL="images/Hochzeit Theresa-Davide (1).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (1).jpg"
	linkURL="images/Hochzeit Theresa-Davide (1).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (1).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (1)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (32).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (32).jpg"
	linkURL="images/Hochzeit Theresa-Davide (32).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (32).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (32)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (37).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (37).jpg"
	linkURL="images/Hochzeit Theresa-Davide (37).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (37).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (37)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (46).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (46).jpg"
	linkURL="images/Hochzeit Theresa-Davide (46).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (46).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (46)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (53).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (53).jpg"
	linkURL="images/Hochzeit Theresa-Davide (53).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (53).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (53)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (60).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (60).jpg"
	linkURL="images/Hochzeit Theresa-Davide (60).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (60).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (60)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (61).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (61).jpg"
	linkURL="images/Hochzeit Theresa-Davide (61).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (61).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (61)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (68).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (68).jpg"
	linkURL="images/Hochzeit Theresa-Davide (68).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (68).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (68)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (82).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (82).jpg"
	linkURL="images/Hochzeit Theresa-Davide (82).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (82).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (82)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (99).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (99).jpg"
	linkURL="images/Hochzeit Theresa-Davide (99).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (99).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (99)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (125).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (125).jpg"
	linkURL="images/Hochzeit Theresa-Davide (125).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (125).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (125)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (138).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (138).jpg"
	linkURL="images/Hochzeit Theresa-Davide (138).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (138).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (138)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (141).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (141).jpg"
	linkURL="images/Hochzeit Theresa-Davide (141).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (141).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (141)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (146).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (146).jpg"
	linkURL="images/Hochzeit Theresa-Davide (146).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (146).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (146)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (151).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (151).jpg"
	linkURL="images/Hochzeit Theresa-Davide (151).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (151).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (151)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (157).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (157).jpg"
	linkURL="images/Hochzeit Theresa-Davide (157).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (157).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (157)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (165).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (165).jpg"
	linkURL="images/Hochzeit Theresa-Davide (165).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (165).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (165)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (168).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (168).jpg"
	linkURL="images/Hochzeit Theresa-Davide (168).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (168).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (168)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (171).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (171).jpg"
	linkURL="images/Hochzeit Theresa-Davide (171).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (171).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (171)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (173).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (173).jpg"
	linkURL="images/Hochzeit Theresa-Davide (173).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (173).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (173)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (176).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (176).jpg"
	linkURL="images/Hochzeit Theresa-Davide (176).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (176).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (176)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (190).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (190).jpg"
	linkURL="images/Hochzeit Theresa-Davide (190).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (190).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (190)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (191).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (191).jpg"
	linkURL="images/Hochzeit Theresa-Davide (191).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (191).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (191)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (199).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (199).jpg"
	linkURL="images/Hochzeit Theresa-Davide (199).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (199).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (199)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (200).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (200).jpg"
	linkURL="images/Hochzeit Theresa-Davide (200).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (200).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (200)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (202).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (202).jpg"
	linkURL="images/Hochzeit Theresa-Davide (202).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (202).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (202)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (204).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (204).jpg"
	linkURL="images/Hochzeit Theresa-Davide (204).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (204).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (204)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (208).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (208).jpg"
	linkURL="images/Hochzeit Theresa-Davide (208).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (208).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (208)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hochzeit Theresa-Davide (209).jpg"
	thumbURL="thumbs/Hochzeit Theresa-Davide (209).jpg"
	linkURL="images/Hochzeit Theresa-Davide (209).jpg"
	linkTarget="_blank"
	sourcePath="/Users/tstadler/Pictures/Wedding/Website/Hochzeit Theresa-Davide (209).jpg">
    <title><![CDATA[Hochzeit Theresa-Davide (209)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>